.item-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid #444;
}
.item-details .item-image {
    width: 30%;
    height: 30%;
    background-repeat: 10px;
    border-radius: 10px;
}
.item-details .list-group-item{
padding: 0.25rem;
}
.item-details .list-group-item .term{
    margin-right: 0.5rem;
}
.item-detail button {
    margin-top: 5px;
}