/* @keyframes ldio-thd38wp2c7g {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-thd38wp2c7g div { box-sizing: border-box!important }
  .ldio-thd38wp2c7g > div {
    position: absolute;
    width: 67.71000000000001px;
    height: 67.71000000000001px;
    top: 21.645000000000003px;
    left: 21.645000000000003px;
    border-radius: 50%;
    border: 7.7700000000000005px solid #000;
    border-color: #4eb512 transparent #4eb512 transparent;
    animation: ldio-thd38wp2c7g 3.846153846153846s linear infinite;
  }
  
  .ldio-thd38wp2c7g > div:nth-child(2), .ldio-thd38wp2c7g > div:nth-child(4) {
    width: 49.95px;
    height: 49.95px;
    top: 30.525000000000002px;
    left: 30.525000000000002px;
    animation: ldio-thd38wp2c7g 3.846153846153846s linear infinite reverse;
  }
  .ldio-thd38wp2c7g > div:nth-child(2) {
    border-color: transparent #f1d315 transparent #f1d315
  }
  .ldio-thd38wp2c7g > div:nth-child(3) { border-color: transparent }
  .ldio-thd38wp2c7g > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-thd38wp2c7g > div:nth-child(3) div:before, .ldio-thd38wp2c7g > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 7.7700000000000005px;
    height: 7.7700000000000005px;
    top: -7.7700000000000005px;
    left: 22.200000000000003px;
    background: #4eb512;
    border-radius: 50%;
    box-shadow: 0 59.940000000000005px 0 0 #4eb512;
  }
  .ldio-thd38wp2c7g > div:nth-child(3) div:after {
    left: -7.7700000000000005px;
    top: 22.200000000000003px;
    box-shadow: 59.940000000000005px 0 0 0 #4eb512;
  }
  
  .ldio-thd38wp2c7g > div:nth-child(4) { border-color: transparent; }
  .ldio-thd38wp2c7g > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-thd38wp2c7g > div:nth-child(4) div:before, .ldio-thd38wp2c7g > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7.7700000000000005px;
    height: 7.7700000000000005px;
    top: -7.7700000000000005px;
    left: 13.32px;
    background: #f1d315;
    border-radius: 50%;
    box-shadow: 0 42.18000000000001px 0 0 #f1d315;
  }
  .ldio-thd38wp2c7g > div:nth-child(4) div:after {
    left: -7.7700000000000005px;
    top: 13.32px;
    box-shadow: 42.18000000000001px 0 0 0 #f1d315;
  }
  .loadingio-spinner-double-ring-b7giueh2wjj {
    width: 111px;
    height: 111px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
  }
  .ldio-thd38wp2c7g {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  /* }
  .ldio-thd38wp2c7g div { box-sizing: content-box; } */


  @keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  
  .lds-css {
    margin: 0 auto;
  }
  
  .lds-double-ring {
    position: relative;
  }
  .lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ebd620 transparent #e0bb12 transparent;
    -webkit-animation: lds-double-ring 1.5s linear infinite;
    animation: lds-double-ring 1.5s linear infinite;
  }
  .lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #45cc50 transparent #30b608;
    -webkit-animation: lds-double-ring_reverse 1.5s linear infinite;
    animation: lds-double-ring_reverse 1.5s linear infinite;
  }
  .lds-double-ring {
    width: 77px !important;
    height: 77px !important;
    -webkit-transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
    transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
  }
